<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>FastEx</title>

    {% block headcss %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <meta name="theme-color" content="#563d7c">
    <style>
    /* Show it is fixed to the top */
    body {
      min-height: 75rem;
      padding-top: 4.5rem;
    }
    </style>
    {% endblock %}

    <style type="text/css">
        {% block extracss %}
        {% endblock %}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
      <a class="navbar-brand">fex</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{'active' if url.endswith('/view/') else ''}}">
          <a class="nav-link" href="/view/">View <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {{'active' if url.endswith('/label/') else ''}}">
          <a class="nav-link" href="/label/">Label</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Stats</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="obj.id = 12345" aria-label="Filter">
        <button class="btn btn-secondary my-2 my-sm-0 mr-2" type="submit">Search</button>
      </form>
      {% block nav %}
      {% endblock nav %}
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    {% block js %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

  </body>
</html>
