{% extends 'base.html' %}

{% block extracss %}
#nav-range {
  max-width: 5em;
}
{% endblock %}

{% block content %}
<div class="row">
  <div id="root" class="col-md-8">
  </div>
  <div id="annotations" class="col-md-4">
    <div id="card" class="card" style="position: sticky; top: 72px;">
      <div class="card-header">Annotations</div>
      <div class="card-body form">

      </div>
    </div>
  </div>
</div>

<div id="templates" hidden>
  <div id="card" class="card">
    <div class="card-header"></div>
    <div class="card-body"></div>
  </div>

  <div class="form-group annotation-text">
    <label></label>
    <textarea class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group annotation-classification">
    <label></label>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
    </div>
  </div>
</div>
{% endblock %}

{% block nav %}
<div class="form-inline">
  <div class="input-group">
    <div class="input-group-prepend">
      <button id="nav-prev" type="button" class="btn btn-outline-secondary">&lsaquo;</button>
    </div>
    <input id="nav-range" type="text" class="form-control" aria-label="index" aria-describedby="nav-count">
    <div class="input-group-append">
      <span class="input-group-text" id="nav-count">of %%count%%</span>
      <button id="nav-next" class="btn btn-outline-secondary" type="button">&rsaquo;</button>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/fex.js"></script>
<script type="text/javascript">
  // Only global variable -- for console debugging.
  var ui = new LabelInterface($("#root"), $("#annotations"), $("nav"));
  ui.init();
</script>

{% endblock %}
