{% extends 'base.html' %}

{% block extracss %}
#nav-range {
  max-width: 5em;
}
{% endblock %}

{% block content %}
<div id="root">
</div>

<div id="templates" hidden>
  <div class="card">
    <h6 class="card-header"></h6>
    <div class="card-body"></div>
  </div>
</div>
{% endblock %}

{% block nav %}
<div class="form-inline">
  <div class="input-group">
    <div class="input-group-prepend">
      <button id="nav-prev" type="button" class="btn btn-outline-secondary">&lsaquo;</button>
    </div>
    <input id="nav-range" type="text" class="form-control" aria-label="index" aria-describedby="nav-count">
    <div class="input-group-append">
      <span class="input-group-text" id="nav-count">of %%count%%</span>
      <button id="nav-next" class="btn btn-outline-secondary" type="button">&rsaquo;</button>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/fex.js"></script>
<script type="text/javascript">
  // Only global variable -- for console debugging.
  var ui = new ViewInterface($("#root"), $("nav"));
  ui.init();
</script>

{% endblock %}
