{% extends 'base.html' %}

{% block extracss %}
#nav-range {
  max-width: 5em;
}
{% endblock %}

{% block content %}
<div id="root">
</div>
{% endblock %}

{% block nav %}
<div class="form-inline">
  <div class="input-group">
    <div class="input-group-prepend">
      <button id="nav-prev" type="button" class="btn btn-outline-secondary">&lsaquo;</button>
    </div>
    <input id="nav-range" type="text" class="form-control" aria-label="index" aria-describedby="nav-count">
    <div class="input-group-append">
      <span class="input-group-text" id="nav-count">of %%count%%</span>
      <button id="nav-next" class="btn btn-outline-secondary" type="button">&rsaquo;</button>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
class ViewInterface {
  constructor(elem, nav) {
    this.elem = $(elem);
    this.nav = $(nav);
    this.range = [0, 10];
    this.count = 0;
  }
  init() {
    // Hook up callbacks.
    this._setupCallbacks();
    this.updateCount();
    this.updateRange();
  }

  _setupCallbacks() {
    const self = this;
    $("#nav-prev").on("click", () => {
      const [lower, upper] = self.range;
      const count = upper - lower;
      const newLower = Math.max(0, lower - count);
      self.updateRange(newLower, count);
    });
    $("#nav-next").on("click", () => {
      const [lower, upper] = self.range;
      const count = upper - lower;
      const newUpper = Math.min(self.count, upper+count);
      self.updateRange(Math.max(0, newUpper-count), count);
    });
    $("#nav-range").on("change", (evt) => {
      const value = evt.target.value;
      const parts = value.split("-");
      console.assert(parts == 2);
      const [lower, upper] = [Number.parseInt(parts[0])-1, Number.parseInt(parts[1])];
      const count = upper - lower;
      self.updateRange(lower, count);
    });
  }

  updateCount() {
    // Set up count in nav interface.
    const self = this;
    $.ajax({
      url: "/count/",
      contentType: "application/json",
      method: "GET",
      success: function(data) {
        // Clear root.
        self.count = data.value;
        const nav_count = $("#nav-count");
        nav_count.text("of " + self.count);
      }
    });
  }

  updateRange(start, count) {
    const self = this;
    // Handle arguments.
    if (count == null) count = 10;
    if (start == null) start = 0;

    // Get renderables from the server.
    $.ajax({
      url: "/render/",
      contentType: "application/json",
      method: "GET",
      data: {start: start, count: count},
      success: function(data) {
        // Clear root.
        self.elem.empty();
        for (let i = 0; i < data.values.length; i++)  {
          console.log(start);
          console.log(count);
          const html = $(data.values[i]);
          html.attr("id", "obj-" + (start + i));
          self.elem.append(html);
        }
        $("#nav-range").val((start+1) + "-" + (start+count));
        self.range = [start, start+count];
      }
    });
  }
}

// Only global variable -- for console debugging.
var ui = new ViewInterface(document.getElementById('root'));
ui.init();
</script>

{% endblock %}
